# Project management
/.idea

# Build files
/build/bin
/build/buildlang
/build/epub
/build/phingext
/build/tools

# Test configuration
/Tests/config.php

# Composer dependencies
vendor

# TCPDF
/component/backend/assets/tcpdf/certificates/*.cer

# Generated invoices and credit notes
/component/backend/invoices/*.pdf
/component/backend/invoices/*/*.pdf
/component/backend/creditnotes/*.pdf
/component/backend/creditnotes/*/*.pdf

# Version and manifest files
/component/akeebasubs.xml
/component/pkg_akeebasubs.xml
/component/cli/*akeebasubs.xml
/component/backend/version.php

# Documentation backups
/documentation/*.xml~

# Release directory
/release
